.hamburger{
	position:fixed;
	top: 20px;
	right: 30px;
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:flex-end;
	cursor: pointer;
	span{
		display: block;
		width: 30px;
		height: 3px;
		background-color: #151812;	
	
	}
	.long{
		width: 36px;
		height: 3px;
	}
	&:hover{
		position: fixed;
		top: 20px;
		right: 30px;
		height: 21px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items:flex-end;
		cursor: pointer;
		
		span{
			display: block;
			width:36px;
			height: 3px;
			background-color: $main-color;	
			transition: all .5s;
		}
		.long{
			width: 30px;
			transition: all .2s;
		}
	}
}


.menu{
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	transition: all .6s;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	&.active{
		visibility:visible;
		left: 0;
		opacity: 1;
	 }
	&__close{
	position: absolute;
	top:25px;
	right:25px;
	transition: all .5s;
	cursor: pointer;
	}
	&__block{
		position: relative;
		padding-top: 140px;
		padding-left: 40px;
		width: 345px;
		height: 100vh;
		transition: all .6s;
		background-color:$main-color;
		z-index: 10;
	}
	&__list{
		padding-left: 35px;
		font-size: 24px;
		font-weight: bold;
		line-height: 36px;
		list-style-type: none;
		a{
			color:#ffffff;
			&:hover{
				color:#000000;
			}
		}
	}
	&__link{
		position: relative;
		margin-bottom: 15px;
		&:before{
			content: "";
			position: absolute;
			width: 15px;
			height: 15px;
			top: 10px;
			left:-35px;
			border-radius: 100%;
			border: 1px solid #000000;
			transition: all .6s;
		}
		&:hover{
			&:before{
				background-color:#ffffff;
			}
		}
	}
	
	

	&__social{
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
		width: 90px;
		a{
			&:hover{
				svg path{
					fill:#FFFFFF;
				}
			}
		}
	}
	&__overlay{
		position: fixed;
		top: 0;
		left:0;
		height: 100%;
		width:100%;
		background: #FFFFFFBF;
		opacity: .75;
		
	}
	}
	


